[submodule "themes/distillpub"]
	path = themes/distillpub
	url = https://github.com/corpetty/distillpub.git
[submodule "themes/zzo"]
	path = themes/zzo
	url = https://github.com/corpetty/hugo-theme-zzo.git
